$template.params("c")

<xs:complexType
#if($ocl.eval("c.extension_xsdNamedType.isDefined"))
                name='$ocl.eval("c.name")'
#end
#if($ocl.eval("c.isAbstract"))  
                abstract='true' 
#end
>

#if($ocl.eval("c.extension_xsdNamedType.isDefined"))
$template.call("annotation.vm","c")
#end

  <xs:simpleContent>
    <xs:extension base='$ocl.eval("c.superClass->any(true).hlpQualifiedTypeName(c.hlpSchema())")'>
$template.call("attributes.vm","c")
    </xs:extension>
  </xs:simpleContent>
  
</xs:complexType>
