$template.params("e")

#foreach($c in $ocl.eval("e.hlpUniqueDependencies()->asSequence()->sortedBy(c|c.name)"))
<xs:unique name='$ocl.eval("c.name")'>
$template.call("annotation.vm", "c")
  <xs:selector xpath='$ocl.eval("c.extension_xsdUnique.selector")'/>
#foreach($f in $ocl.eval("c.extension_xsdUnique.fields"))
    <xs:field xpath='$f'/>
#end
</xs:unique>
#end
#foreach($c in $ocl.eval("e.hlpKeyDependencies()->asSequence()->sortedBy(c|c.name)"))
<xs:key name='$ocl.eval("c.name")'>
$template.call("annotation.vm", "c")
  <xs:selector xpath='$ocl.eval("c.extension_xsdKey.selector")'/>
#foreach($f in $ocl.eval("c.extension_xsdKey.fields"))
    <xs:field xpath='$f'/>
#end
</xs:key>
#end
#foreach($c in $ocl.eval("e.hlpKeyrefDependencies()->asSequence()->sortedBy(c|c.name)"))
<xs:keyref name='$ocl.eval("c.name")' refer='$ocl.eval("c.extension_xsdKeyref.refer")'>
$template.call("annotation.vm", "c")
  <xs:selector xpath='$ocl.eval("c.extension_xsdKeyref.selector")'/>
#foreach($f in $ocl.eval("c.extension_xsdKeyref.fields"))
    <xs:field xpath='$f'/>
#end
</xs:keyref>
#end
